@tailwind base;
@tailwind components;
@tailwind utilities;

/* #f14251 */

:root {
  --text-color: black;
  --text-color-dark: white; 
  --bg-color: white;
  --bg-color-dark: black;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

.dark body {
  color: var(--text-color-dark);
  background-color: var(--bg-color-dark);
}
