@tailwind base;
@tailwind components;
@tailwind utilities;

/* bg test */
/* #f14251 */
/* #1d1d20 */
/* #1a1a1a */

/* accent */
/* #1c64f2 */

:root {
  --text-color: #000;
  --text-color-dark: white;
  --bg-color: white;
  --bg-color-dark: #000;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

.dark body {
  color: var(--text-color-dark);
  background-color: var(--bg-color-dark);
}

.bg-blob {
  background-image: url("../../public/blob-scene-haikei2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.link-effect::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  /* background-color: #00319b; */
  background-color: #1c64f2;
  bottom: 1px;
  right: 0;
  transition: width 150ms linear;
}

.link-effect:hover::before {
  width: 100%;
}
